@font-face {
  font-family: 'Gilroyextrabold';
  src: url('gilroyextrabold.woff2');
  src: local('Gilroy');
}
@font-face {
  font-family: 'Gilroylight';
  src: url('gilroylight.woff2');
  src: local('Gilroy');
}
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
/*Кнопки и ссылки*/
.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: none;

  outline: 0;
}
.button:hover,
.button:focus {
  background: #f0c52e;
}
.button:active {
  color: #be9c22;
}
.conditions__selector,
.contacts__button,
.modal-write-us__button {
  padding: 8px 0;
}
.slider__link,
.info__link {
  display: block;
  padding: 8px 0;
}
.conditions__selector {
  width: 160px;
}
.slider__link {
  width: 220px;
}
.button--info-width,
.button--contacts-width {
  width: 260px;
}
.modal-write-us__button,
.filter__button {
  width: 200px;
}
.goods__link-incart {
  width: 200px;
}
.button,
.site-list__link,
.footer-site-nav__link {
  letter-spacing: 0.2em;
}

/*Форма поиска*/

.main-nav__input {
  width: 356px;
  height: 45px;
  padding-left: 40px;

  font-size: 15px;
  font-family: 'Open Sans';
  line-height: 30px;
  color: #000000;

  background-color: #f7e296;
  border: none;
  outline: 0;
}
.main-nav__input:focus {
  box-shadow: 0 2px 0 0 rgba(0,0,0,1);
}
.main-nav__icon {
  position: absolute;

  top: 0;
  left: 2px;
}

.main-nav__input::placeholder {
  font-family: 'Open Sans';
  color: #c4b376;
}
.main-nav__input:hover::placeholder {
  color: #887c50;
}
.main-nav__input:focus::placeholder {
  opacity: 0;
}
.main-nav__label {
  position: relative;
}
.main-nav__search-button {
  position: absolute;

  display: none;
  width: 85px;
  height: 49px;

  font-size: 15px;
  font-family: 'Open Sans';
  line-height: 30px;

  border: 2px solid black;
  background: none;
}
.main-nav__label:focus-within .main-nav__search-button {
  display: inline-block;
  right: -85px;
}
.main-nav__search-button:hover {
  color: white;

  background-color: black;
}
.main-nav__search-button:active {
  color: #747474;
}
.main-nav__search {
  margin-top: 10px;
}
.main-nav__icon {
  margin-top: 4px;
  margin-left: 1px;
}
/*Тексты*/
.slider__text,
.conditions__text,
.contacts__text,
.info__text,
.page-footer__info {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.slider__text,
.conditions__text,
.info__text,
.contacts__text {
  color: #464646;
}
.page-footer__info {
  color: white;
}
 /*Хедер*/
.page-header__wrapper {
  margin-top: 40px;
  padding: 0 60px;

  height: 186px;

  background-color: #f7e296;
}
.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
}
.user-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;

  width: 500px;
}
.user-nav__span,
.footer-user-nav__span {
  margin-left: 5px;
}
.user-nav__username {
  margin-right: 15px;
  margin-left: 5px;
  letter-spacing: 0.01em;
}
.user-nav__log-out {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.3;
}
.user-nav__log-out:hover,
.user-nav__log-out:focus {
  opacity: 0.6;
}
.user-nav__log-out:active {
  opacity: 1;
}
.user-nav__item:first-child .user-nav__span,
.footer-user-nav__item:first-child .footer-user-nav__span {
  margin-left: 10px;
}
.user-nav__item:first-child {
  width: 245px;
}
.user-nav__item:nth-child(2) {
  width: 245px;
}
.page-header__logo {
  margin-top: -21px;
}
.page-header a {
  color: #000000;
}
.user-nav__link,
.footer-user-nav__link,
.drop-down-catalog__link{
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
}
.user-nav__link {
  line-height: 30px;
}
.site-list__link,
.footer-site-nav__link {
  text-transform: uppercase;
}
.user-nav,
.site-list__conditions,
.drop-down-catalog__list{
  padding-left: 0;

  list-style: none;
}
.site-list__link {
  color: rgba(0,0,0, 1);
}
.site-list__link:hover,
.site-list__link:focus {
  color: rgba(0,0,0, 0.6)
}
.site-list__link:active {
  color: rgba(0,0,0, 0.3)
}
.page-header__logo-link:hover,
.user-nav__link:hover,
.user-nav__link:hover .user-nav__icon,
.footer-user-nav__link:hover .footer-user-nav__icon,
.drop-down-catalog__link:hover,
.footer-user-nav__link:hover,
.footer-site-nav__link:hover,
.social__image:hover,
.page-header__logo-link:focus,
.user-nav__link:focus,
.user-nav__link:focus .user-nav__icon,
.drop-down-catalog__link:focus,
.footer-user-nav__link:focus,
.footer-site-nav__link:focus,
.social__link:focus .social__image {
  opacity: 0.6;
}
.page-header__logo-link:active,
.user-nav__link:active,
.user-nav__link:active .user-nav__icon,
.drop-down-catalog__link:active,
.footer-user-nav__link:active,
.footer-site-nav__link:active,
.social__image {
  opacity: 0.3;
}
.drop-down-catalog__item {
  width: 240px;
  line-height: 36px;
}
.site-list {
  display: flex;
  align-items: center;
}
.site-list__item:last-child {
  margin-left: 75px;
}
.site-list__catalog-wrapper {
  position: relative;
}
.drop-down-catalog__list {
  position: absolute;
  top: 2px;
  left: -60px;

  display: none;
  width: 1040px;
  height: 143px;
  padding: 0 60px;
  padding-top: 25px;
  background-color: #f7e296;
}
.site-list__catalog-wrapper:hover .drop-down-catalog__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  z-index: 2;
}
.drop-down-catalog__item:nth-child(5) {
  margin-bottom: 50px;
}
.site-list__conditions {
  display: flex;
  justify-content: space-between;
  width: 505px;
  margin-right: -5px;
}
.site-list__span {
  margin-right: 5px;
}
.site-list__icon {
  margin-top: 3px;
}
/*Слайдер*/
.slider {
  position: relative;
}
.slider__wrapper {
  display: none;
  justify-content: flex-start;
  height: 500px;

  padding: 4px 0 0 0;
  margin-top: -18px;
  margin-bottom: 108px;

  background: linear-gradient(to bottom, #f7e296 131px, white 131px, white 100%);
}
.
.slider__right-side-wrapper {
  position: relative;

  width: 510px;
}
.slider__caption {
  position: relative;
  z-index: 1;
  width: 520px;
  height: 133px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.02em;
}
.slider__caption::before {
  content: "";
  display: block;
  margin-top: 53px;
  margin-bottom: 35px;

  width: 100px;
  height: 7px;

  background-color: white;
}
.slider__text {
  width: 485px;
  height: 89px;
}
.slider__link {
  margin-bottom: 50px;
}
.slider__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 40px;
  margin-left: 10px;

  width: 550px;
}
.slider__controls {
  position: absolute;
  bottom: 146px;
  right: 94px;
  padding-left: 0;
  z-index: 100;

  display: flex;
  list-style: none;

  font-size: 0;
}
.slider-controls-item {
  position: relative;
  margin-right: 23px;

  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px;
}
.slider-controls-item--selfie-stick::before,
.slider-controls-item--fitness-tracker::before,
.slider-controls-item--quadrocopter::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;

  display: none;
  width: 3px;
  height: 3px;
  border: 1px solid black;
  border-radius: 50%;
}
.slider-controls-item:last-child {
  margin-right: 0;
}
.slider__input--selfie-stick:checked ~ .slider__slides .slider__wrapper--selfie-stick,
.slider__input--fitness-tracker:checked ~ .slider__slides .slider__wrapper--fitness-tracker,
.slider__input--quadrocopter:checked ~ .slider__slides .slider__wrapper--quadrocopter {
  display: flex;
}
.slider__input--selfie-stick:checked ~ .slider__controls .slider-controls-item--selfie-stick::before,
.slider__input--fitness-tracker:checked ~ .slider__controls .slider-controls-item--fitness-tracker::before,
.slider__input--quadrocopter:checked ~ .slider__controls .slider-controls-item--quadrocopter::before {
  display: block;
}

.slider__button {
  border: none;
  background: none;
}
.slider__number {
  position: absolute;
  top: 5px;
  right: 58px;

  font-size: 179px;
  line-height: 179px;
  color: white;
}
.feature-table {
  font-size: 36px;

  border-collapse: collapse;
}
.feature-table__row:first-child {
  font-weight: 300;
  line-height: 48px;
}
.feature-table__row:last-child {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}
.feature-table__data {
  width: 160px;
  margin: 0;
  padding: 0;
}
.feature-table__row:first-child .feature-table__data {
  padding-bottom: 8px;
}
.feature-table__row .feature-table__data:nth-child(2) {
  width: 140px;
}

/*Популярные товары*/
.popular__item {
  width: 160px;

  margin-bottom: 45px;
}
.popular__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
.popular__link {
  color: black;
}
.popular__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;

  margin-bottom: 33px;

  background-color: #f7e296;
}
.popular__block-wrapper {
  width: 160px;
}
.popular__block-wrapper:hover .popular__image-wrapper {
  background-color: #f0c52e;
}
.popular__block-wrapper:active .popular__image {
  opacity: 0.3;
}
.popular__block-wrapper:active .popular__caption {
  opacity: 0.3;
}
.popular__item:nth-child(2) .popular__image {
  align-self: flex-end;
}
.popular__caption {
  font-size: 18px;
  line-height: 24px;
}
/*Условия*/
.conditions {
  height: 388px;

  margin-bottom: 95px;

  background: linear-gradient(to bottom, white 100px, #e5e5e5 100px, #e5e5e5 100%);
}
.conditions__wrapper {
  display: flex;
  justify-content: space-between;

  position: relative;
}
.conditions__wrapper::before {
  content: "";
  position: absolute;

  top: 1px;
  left: 287px;

  width: 7px;
  height: 319px;

  background-color: black;
}
.conditions__controls {
  display: flex;
  flex-direction: column;

  margin-top: 80px;
}
.conditions__selector {
  margin-bottom: 25px;
}
.conditions__item {
  display: none;
  justify-content: space-between;
  width: 760px;

  margin-top: 46px;
}
.conditions__caption {
  font-size: 47px;
  line-height: auto;
}
.conditions__caption {
  margin-bottom: 44px;
}
.conditions__text {
  width: 460px;
}
.conditions__image-wrapper {
  align-self: flex-end;
  margin-right: 65px;
}.conditions__selector {
  position: relative;
}
.conditions__selector--delivery::before,
.conditions__selector--warranty::before,
.conditions__selector--credit::before {
  content: "";
  position: absolute;
  top: 0;
  right: -118px;

  display: none;
  width: 118px;
  height: 40px;

  background-color: black;
}
.conditions__input--delivery:checked ~ .conditions__controls .conditions__selector--delivery::before,
.conditions__input--warranty:checked ~ .conditions__controls .conditions__selector--warranty::before,
.conditions__input--credit:checked ~ .conditions__controls .conditions__selector--credit::before {
  display: block;
}
.conditions__input--delivery:checked ~ .conditions__controls .conditions__selector--delivery,
.conditions__input--warranty:checked ~ .conditions__controls .conditions__selector--warranty,
.conditions__input--credit:checked ~ .conditions__controls .conditions__selector--credit {
  color: #f0c52e;
  background: black;
}
.conditions__input--delivery:checked ~ .conditions__list .conditions__item--delivery,
.conditions__input--warranty:checked ~ .conditions__list .conditions__item--warranty,
.conditions__input--credit:checked ~ .conditions__list .conditions__item--credit {
  display: flex;
}
/*О компании и бренды*/
.brands-list {
  display: flex;
  justify-content: space-between;

  padding-left: 0;
  margin-bottom: 49px;

  list-style: none;
}
.brands-list__item {
  position: relative;
}
.brands-list__image {
  opacity: 0.2;
}
.brands-list__image-color {
  display: none;
}
.brands-list__item:hover .brands-list__image-color {
  display: block;

  position: absolute;
  top: 0;
}
.company__info-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 81px;
}
.info,
.contacts {
  width: 560px;
}
.info__caption,
.contacts__caption {
  position: relative;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
}
.info__caption::before,
.contacts__caption::before {
  content: "";

  margin-bottom: 45px;

  display: block;
  width: 80px;
  height: 7px;

  background-color: black;
}
.info__uppercase {
  text-transform: uppercase;
}
.info__text {
  width: 475px;
  margin-bottom: 30px;

  letter-spacing: normal;
}
.info__text:last-of-type {
  margin-bottom: 65px;
}
.info__delivery-list {
  padding-left: 35px;
  list-style: none;
  margin-bottom: 53px;
}
.info__delivery-item {
  position: relative;

  font-size: 16px;
  line-height: 40px;
}
.info__delivery-item::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 17px;
  width: 4px;
  height: 4px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}
.contacts__text {
  margin-bottom: 40px;
}
.contacts__pop-up-map-button {
  margin:0;
  margin-bottom: 64px;
  padding: 0;

  background: none;
  border: none;
}
/*Всплывающие окна*/
.modal-write-us {
  width: 760px;
  margin: 0 auto;
}
.modal-write-us {
  position: relative;

  display: none;
  height: 400px;
  padding: 60px 100px 100px 100px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.modal-write-us__item {
  display: flex;
  flex-direction: column;
}
.modal-write-us__item:first-child {
  margin-right: 40px;
}
.modal-write-us__form {
  display: flex;
  flex-wrap: wrap;
}
.modal-write-us__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-write-us__input,
.modal-write-us__textarea {
  padding-left: 20px;

  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 18px;

  border: none;
  background-color: #f2f2f2;
}
.modal-write-us__input:hover,
.modal-write-us__textarea:hover {
  background-color: #eaeaea;
}
.modal-write-us__input:focus,
.modal-write-us__textarea:focus {
  background-color: white;
  outline: 3px solid #f7e296;
  color: rgba(0,0,0, 1);
}
.modal-write-us__input:not(:valid),
.modal-write-us__textarea:not(:valid) {
  background-color: #f6dada;
}
.modal-write-us__label {
  margin-bottom: 15px;
}
.modal-write-us__input {
  width: 340px;
  height: 50px;
}
.modal-write-us__textarea {
  padding-top: 20px;
  width: 740px;
  height: 136px;
}
.modal-write-us__input::placeholder,
.modal-write-us__textarea::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; /*Не понятно какой font-weight*/
  color: rgba(0,0,0, 0.4);
}
.modal-write-us__close-button,
.modal-map__close-button {
  border: none;
  background: none;
  outline: 0;
  opacity: 0.5;
}
.modal-map {
  position: relative;

  display: none;
  width: 960px;
  height: 559px;
  margin: 0 auto;
  padding: 0;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.modal-map__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-write-us__close-button:hover,
.modal-map__close-button:hover {
  opacity: 1;
}
.modal-write-us__close-button:focus,
.modal-map__close-button:focus {
  opacity: 1;
  outline: 0;
}
.modal-write-us__close-button:active,
.modal-map__close-button:active {
  opacity: 0.3;
}

/*Каталог*/
.catalog__background-wrapper {
  margin: 0 auto;

  width: 1440px;
}
.catalog__wrapper {
  padding-left: 60px;
}
.catalog__caption {
  margin-top: 36px;
  margin-bottom: 23px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}
.breadcrumbs {
  list-style: none;
  padding-left: 0;
  margin-bottom: 47px;
}
.breadcrumbs__item {
  margin-right: 14px;
  display: inline-block;

  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.breadcrumbs__link,
.breadcrumbs__span {
  color: rgba(0,0,0, 0.3);
}
.breadcrumbs__link:hover {
  color: rgba(0,0,0, 0.6);
}
.breadcrumbs__link:active {
  color: rgba(0,0,0, 0.1);
}
.breadcrumbs__link {
  margin-right: 11px;
  position: relative;
}
.breadcrumbs__icon {
  fill: black;
}
/*Фильтр*/
.filter-catalog__wrapper {
  display: flex;
}
.filter {
  padding-left: 195px;

  width: 293px;
  background: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px, #eeeeee 100%);
}
.filter__caption {
  margin-top: 23px;
  margin-bottom: 104px;
  margin-left: 5px;
}
.filter__item {
  padding: 0;

  border: none;
}
.filter__item:first-child {
  margin-bottom: 12px;
}
.filter__item:nth-of-type(2) {
  margin-bottom: 43px;
}
.filter__item:last-of-type {
  margin-bottom: 37px;
}
.filter__legend {
  position: relative;
}
.filter__legend::before {
  content: "";
  position: absolute;
  top: -12px;
  width: 200px;
  height: 2px;

  background-color: black;
}
.filter__item:last-of-type .filter__legend {
  margin-bottom: 18px;
}
.filter__item:first-child .filter__legend {
  margin-bottom: 35px;
}
.filter__item:nth-of-type(2) .filter__legend {
  margin-bottom: 18px;
}

.filter__item p {
  margin: 0;
}
.filter__button {
  margin-left: 4px;
}
/*Checkbox, radio*/
.filter__checkbox {
  position: absolute;

  opacity: 0;
  cursor: pointer;
}

.filter__label {
  position: relative;

  padding-left: 41px;

  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}
.filter__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;

  width: 30px;
  height: 30px;

  background: url("../img/checkbox-off.svg") no-repeat;
}
.filter__checkbox:checked + .filter__label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}
.filter__label:hover::before {
  opacity: 0.6;
}
.filter__label:disabled::before {
  opacity: 0.25;
}
.filter__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.filter__label-radio {
  position: relative;
  font-family: 'Open Sans';

  padding-left: 41px;

  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}
.filter__label-radio::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 1px;

  width: 30px;
  height: 30px;

  background: url("../img/radio-off.svg") no-repeat;
}
.filter__radio:checked + .filter__label-radio::before {
  background: url("../img/radio-on.svg") no-repeat;
}
.filter__label:hover::before {
  opacity: 0.6;
}

/*Фильтр по цене*/
.filter__price-range {
  padding-left: 0;
  margin-left: -3px;
  margin-bottom: 67px;
  width: 200px;
}
.filter__range-controls {
  position: relative;
}
.filter__label-wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80px;
}
.filter__range-toggle__label {
  position: absolute;
  bottom: -37px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2)
}
.min-price {
  left: -3px;
}
.max-price {
  left: -25px;
}
.range-toggle__input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.filter__scale {
  height: 2px;

  background: #dbdbdb;
}
.filter__bar {
  width: 56%;
  height: 2px;

  background: #91c92f;
}
.filter__range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.filter__range-toggle-min {
  left: 0;
}
.filter__range-toggle-max {
  left: 56%;
}
/*Сортировка*/
.sorting {
  padding-left: 0;

  list-style: none;
}
.sorting__wrapper {
  display: flex;
  justify-content: space-between;
  width: 765px;

  height: 70px;
}
.sorting {
  margin: 0;

  display: flex;
  align-items: center;
}
.sorting__item {
  margin-right: 30px;
}
.sorting__item:first-child {
  margin-right: 55px;
  margin-left: 0;
}
.sorting__item:last-child {
  margin-right: 0;
}
.sorting__link {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0, 0.3);
}
.sorting__link--active {
  color: rgba(0,0,0, 1)
}
.sorting__link:hover,
.sorting__link:focus{
  color: rgba(0,0,0, 0.6);
}
.sorting__link:active {
  color: rgba(0,0,0, 0.3);
}
.arrows {
  display: flex;
  align-items: center;
  list-style: none;
}
.arrows__item:first-child {
  margin-right: 20px;
}
.arrows__link {
  opacity: 0.3;
}
.arrows__link:hover,
.arrows__link:focus {
  opacity: 0.6;
}
.arrows__link:active {
  opacity: 1;
}
.arrows__link--active {
  opacity: 1;
}
/*Товары*/
.goods {
  padding-left: 72px;
  width: 970px;
  background: linear-gradient(to bottom, #ebebeb 70px, white 70px, white 100%);
}
.goods__list {
  display: flex;
  flex-wrap: wrap;
}
.filter__caption,
.sorting__caption {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 800;
}
/*Сетка товаров*/
.goods__list {
  padding-left: 0;
  margin-top: 70px;
  margin-bottom: -10px;

  list-style: none;
}
.goods__caption {
  width: 260px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-transform: none;
}
.goods__price {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}
.goods__item {
  position: relative;
  margin-right: 40px;
  margin-bottom: 30px;

  width: 360px;
  height: 475px;
}
.goods__item:nth-child(2n) {
  margin-right: 0;
}
.goods__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.goods__hover {
  position: absolute;
  top:0;
  left: 0;

  display: none;
  width: 360px;
  height: 380px;

  cursor: pointer;
}
.goods__item:hover .goods__hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goods__item:hover .goods__image {
  filter:grayscale(1); /* Не понял какой тут фильтр должен быть, нужна помощь*/
  opacity: 0.7;
}
.goods__link-compare {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: black;
  opacity: 0.5;
}
.goods__link-compare:hover,
.goods__link-compare:focus {
  opacity: 1;
}
.goods__link-compare:active {
  opacity: 0.2;
}
.goods__new-border {
  position: absolute;
  top: 30px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 55px;
  height: 55px;

  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;

  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.2;
}
/*Пейджер*/
.pager {
  padding-left: 0;
  margin-bottom: 77px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;

  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style: none;

  background-color: #ebebeb;
}
.pager__pages {
  padding-left: 0;

  display: flex;
  list-style: none;
}
.pager__link,
.pager__page-link{
  color: black;
}
.pager__link-wrapper {
  width: 128px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pager__link-wrapper:hover {
  background-color: #d9d9d9;
}
.pager__link-wrapper:active {
  opacity: 0.3;
}
.pager__page {
  opacity: 0.3;
}
.pager__page:hover {
  opacity: 0.6
}
.pager__page:active {
  opacity: 1;
}
.pager__page {
  margin-right: 27px;
}
.pager__page:last-child {
  margin-right: 0;
}
.pager__page--current {
  opacity: 1;
}
/*Футер*/
.page-footer {
  padding-bottom: 50px;
  background-color: #464646;
}
.footer-user-nav,
.footer-site-nav,
.social {
  list-style: none;
  padding-left: 0;
}
.footer-user-nav__item {
  margin-left: 43px;
}
.footer-user-nav__item:first-child {
  margin-left: 0;
}
.page-footer__info {
  line-height: 25px;
}
.footer-user-nav__item:nth-child(2) {
  margin-right: 2px;
  margin-left: 0;
}
.footer-user-nav__username {
  margin-right: 15px;
  margin-left: 5px;
  letter-spacing: 0.01em;
}
.footer-user-nav__log-out {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: white;
  opacity: 0.3;
}
.footer-user-nav__log-out:hover,
.footer-user-nav__log-out:focus {
  opacity: 0.6;
}
.footer-user-nav__log-out:active {
  opacity: 1;
}
.footer-user-nav__link,
.footer-site-nav__link {
  color: white;
}
.social__link:active {
  opacity: 0.1;
}
.page-footer__top,
.page-footer__middle,
.page-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer__top {
  padding-top: 47px;
  margin-bottom: 10px;
}
.page-footer__logo {
  padding-top: 10px;
}
.page-footer__middle {
  margin-bottom: 28px;
  align-items: flex-start;
}
.page-footer__info:first-of-type {
  width: 230px;
}
.page-footer__info:last-of-type {
  margin-left: 40px;
}
.footer-user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-site-nav {
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  width: 460px;
}
.social {
  display: flex;
  justify-content: space-around;
  width: 160px;
}
.social__line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.copyright__image {
  margin-top: 3px;
  margin-left: 50px;
}
/*Служебные классы*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
