@font-face {
  font-family: 'Gilroyextrabold';
  src: url('gilroyextrabold.woff2');
  src: local('Gilroy');
}
@font-face {
  font-family: 'Gilroylight';
  src: url('gilroylight.woff2');
  src: local('Gilroy');
}
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
/*Кнопки и ссылки*/
.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: none;

  outline: 0;
}
.button:hover,
.button:focus {
  background: #f0c52e;
}
.button:active {
  color: #be9c22;
}
.conditions__selector {
  position: relative;
}
.conditions__selector:before {
  content: "";
  display: none;
}
.conditions__selector:active:before {
  position: absolute;
  z-index: 1;

  display: block;
  top: 0;
  right: -118px;
  width: 118px;
  height: 40px;

  background-color: black;
}
.conditions__selector:active {
  color: #f0c52e;

  background-color: black;
}
.conditions__selector,
.contacts__button,
.modal-write-us__button {
  padding: 8px 0px;
}
.slider__link,
.info__link {
  display: block;
  padding: 8px 0px;
}
.conditions__selector {
  width: 160px;
}
.slider__link {
  width: 220px;
}
.button--info-width,
.button--contacts-width {
  width: 260px;
}
.modal-write-us__button {
  width: 200px;
}
.button,
.site-list__link,
.footer-site-nav__link {
  letter-spacing: 0.2rem;
}

/*Форма поиска*/

.page-header__input {
  width: 356px;
  height: 45px;
  padding-left: 30px;

  font-size: 15px;
  font-family: 'Open Sans';
  line-height: 30px;
  color: #000000;

  background-color: #f7e296;
  border: none;
  outline: 0;
}
.page-header__input:focus {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,1);
}
.page-header__icon {
  position: absolute;

  top: 0px;
  left: 2px;
}

.page-header__input::placeholder {
  font-family: 'Open Sans';
  color: #c4b376;
}
.page-header__input:hover::placeholder {
  color: #887c50;
}
.page-header__input:focus::placeholder {
  opacity: 0;
}
.page-header__label {
  position: relative;
}
.page-header__search-button {
  position: absolute;

  display: none;
  width: 85px;
  height: 49px;

  font-size: 15px;
  font-family: 'Open Sans';
  line-height: 30px;

  border: 2px solid black;
  background: none;
}
.page-header__label:focus-within .page-header__search-button {
  display: inline-block;
  right: -85px;
}
.page-header__search-button:hover {
  color: white;

  background-color: black;
}
.page-header__search-button:active {
  color: #747474;
}
/*Тексты*/
.slider__text,
.conditions__text,
.contacts__text,
.info__text,
.page-footer__info {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.slider__text,
.conditions__text,
.info__text,
.contacts__text {
  color: #464646;
}
.page-footer__info {
  color: white;
}
/*Хедер*/
.page-header {
  background-color: #f7e296;
}
.page-header a {
  color: #000000;
}
.user-nav__link,
.footer-user-nav__link,
.drop-down-catalog__link{
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
}
.user-nav__link {
  line-height: 30px;
}
.site-list__link,
.footer-site-nav__link {
  text-transform: uppercase;
}
.user-nav,
.site-list,
.drop-down-catalog__list{
  padding-left: 0;

  list-style: none;
}
.site-list__icon {
  /*Есть ли простой способ сделать так, что бы opacity не наследовалась от site-list__link?
  Можно ли просто вынести иконку за пределы ссылки или она тоже должна быть ссылкой?*/
}
.page-header__logo-link:hover,
.user-nav__link:hover,
.user-nav__link:hover .user-nav__icon,
.footer-user-nav__link:hover .footer-user-nav__icon,
.site-list__link:hover,
.drop-down-catalog__link:hover,
.footer-user-nav__link:hover,
.footer-site-nav__link:hover,
.social__image:hover {
  opacity: 0.6;
}
.page-header__logo-link:focus,
.user-nav__link:focus,
.user-nav__link:focus .user-nav__icon,
.site-list__link:focus,
.drop-down-catalog__link:focus,
.footer-user-nav__link:focus,
.footer-site-nav__link:focus,
.social__link:focus .social__image {
  opacity: 0.6;
}
.page-header__logo-link:active,
.user-nav__link:active,
.user-nav__link:active .user-nav__icon,
.site-list__link:active,
.drop-down-catalog__link:active,
.footer-user-nav__link:active,
.footer-site-nav__link:active,
.social__image {
  opacity: 0.3;
}
.drop-down-catalog__item {
  line-height: 36px;
}
.drop-down-catalog {
  position: relative;
}
.drop-down-catalog__list {
  position: absolute;

  display: none;
}
.site-list__wrapper:hover .drop-down-catalog__list {
  display: block;
  width: 100%;

  background-color: #f7e296;
}
/*Слайдер*/
.slider__switches {
  padding-left: 0;

  list-style: none;
}
.slider__button {
  border: none;
  background: none;
}
.slider__caption {
  font-size: 47px;
  line-height: 56px;
}
.slider__number {
  font-size: 179px;
  line-height: 179px;
  color: white;

  background-color:bisque; /*Временно*/
}
.feature-table {
  font-size: 36px;

}
.feature-table__row:first-child {
  font-weight: 300;
  line-height: 48px;
}
.feature-table__row:last-child {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}
/*Популярные товары*/
.popular__item {
  width: 160px;
}
.popular__list {
  list-style: none;
  padding-left: 0;
}
.popular__link {
  color: black;
}
.popular__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;

  background-color: #f7e296;
}
.popular__block-wrapper {
  width: 160px;
}
.popular__block-wrapper:hover .popular__image-wrapper {
  background-color: #f0c52e;
}
.popular__block-wrapper:active .popular__image {
  opacity: 0.3;
}
.popular__block-wrapper:active .popular__caption {
  opacity: 0.3;
}
.popular__item:nth-child(2) .popular__image {
  align-self: flex-end;
}
.popular__caption {
  font-size: 18px;
  line-height: 24px;
}
/*Условия*/
.conditions {
  background: linear-gradient(to bottom, white 34.7%, #e5e5e5 34.7%);
}
.conditions__caption {
  font-size: 47px;
  line-height: auto;
}
/*О компании и бренды*/
.brands-list {
  padding-left: 0;

  list-style: none;
}
.brands-list__item {
  position: relative;
}
.brands-list__image {
  opacity: 0.2;
}
.brands-list__image-color {
  display: none;
}
.brands-list__item:hover .brands-list__image-color {
  display: block;

  position: absolute;
  top: 0;
}
.info__caption {
  font-size: 47px;
  line-height: 48px;
}
.info__delivery-list {
  list-style: none;
}
.info__delivery-item {
  position: relative;
  font-size: 16px;
  line-height: 40px;
}
/*Судя по макету нужно применить тут svg-иконку "slider-button", но я не понял как её видоизменить чтобы она стала похожей на ту, что в макете и сделал кружок сам.*/
.info__delivery-item::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 17px;
  width: 3px;
  height: 3px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}
/*Всплывающие окна*/
.modal-write-us__input,
.modal-write-us__textarea {
  border: none;
  background-color: #f2f2f2;
}
.modal-write-us__input {
  width: 360px;
  height: 50px;
}
..modal-write-us__textarea {
  width: 760px;
  height: 156px;
  /*Как сделать нужный размер с помощью css, а не с помощью cols и rows?*/
}
.modal-write-us__input::placeholder,
.modal-write-us__textarea::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; /*Не понятно какой font-weight*/
  color: black;

  opacity: 0.4;
}
.modal-write-us__close-button,
.modal-map__close-button {
  border: none;
  background: none;
  outline: 0;
  opacity: 0.5;
}
.modal-write-us__close-button:hover,
.modal-map__close-button:hover {
  opacity: 1;
}
.modal-write-us__close-button:focus,
.modal-map__close-button:focus {
  opacity: 1;
  outline: 0;
}
.modal-write-us__close-button:active,
.modal-map__close-button:active {
  opacity: 0.3;
}

/*Каталог*/
.catalog__caption {
  font-size: 47px;
  line-height: 48px;
}
.breadcrumbs {
  list-style: none;
  padding-left: 0;
}
.breadcrumbs__item {
  display: inline-block;

  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;

  opacity: 0.3;
  color: black;
}
.breadcrumbs__link:hover {
  opacity: 0.6;
}
.breadcrumbs__link:active {
  opacity: 0.1;
}
.breadcrumbs__link {
  position: relative;

  color: black;
}
.breadcrumbs__icon {
  fill: black;
}
/*Фильтр*/
.filter__caption,
.goods__caption {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.filter__checkbox {
  position: absolute;

  opacity: 0;
  cursor: pointer;
}
.filter__label {
  position: relative;

  padding-left: 35px; /*Временно*/

  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}
.filter__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  background: url("../img/checkbox-off.svg") no-repeat;
}
.filter__checkbox:checked + .filter__label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}
.filter__label:hover::before {
  opacity: 0.6;
}
.filter__label:disabled::before {
  opacity: 0.25;
}
.filter__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.filter__label-radio {
  position: relative;
  font-family: 'Open Sans';

  padding-left: 35px; /*Временно*/

  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}
.filter__label-radio::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 30px;
  height: 30px;

  background: url("../img/radio-off.svg") no-repeat;
}
.filter__radio:checked + .filter__label-radio::before {
  background: url("../img/radio-on.svg") no-repeat;
}
.filter__label:hover::before {
  opacity: 0.6;
}
/*Соритровка*/
.sorting {
  padding-left: 0;

  list-style: none;
}
.sorting__link {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 18px;
  color: black;
}
.sorting__link:hover,
.sorting__link:focus{
  opacity: 0.6;
}
.sorting__link:active {
  opacity: 0.3;
}
.arrows {
  list-style: none;
  padding-left: 0;
}
.arrows__link {
  opacity: 0.3;
}
.arrows__link:hover,
.arrows__link:focus {
  opacity: 0.6;
}
.arrows__link:active {
  opacity: 1;
}
/*Сетка товаров*/
.goods__list {
  padding-left: 0;

  list-style: none;
}
.goods__caption {
  letter-spacing: inherit;
  text-transform: none;
}
.goods__price {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #464646;
}
.goods__item {
  position: relative;

  width: 360px;
  height: 500px; /*Изображение товара + описание*/
}
.goods__hover {
  position: absolute;
  top:0;
  left: 0;

  display: none;
  width: 360px;
  height: 380px;

  cursor: pointer;
}
.goods__item:hover .goods__hover {
  display: block;
}
.goods__link-compare {
  color: black;
  opacity: 0.5;
}
.goods__link-compare:hover,
.goods__link-compare:focus {
  opacity: 1;
}
.goods__link-compare:active {
  opacity: 0.2;
}
/*Пейджер*/
/*Точно не знаю как его оформить, пока сделал так*/
.pager {
  padding-left: 0;

  font-size: 16px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  list-style: none;

  background-color: #ebebeb;
}
.pager__link,
.pager__page-link{
  color: black;
}
.pager__item:hover:first-child,
.pager__item:hover:last-child {
  background-color: #d9d9d9;
}
.pager__item:active:first-child .pager__link,
.pager__item:active:last-child .pager__link {
  opacity: 0.3;
}
.pager__page-link {
  opacity: 0.3;
}
.pager__page-link:hover {
  opacity: 0.6
}
.pager__page-link:active {
  opacity: 1;
}
/*Футер*/
.page-footer {
  background-color: #464646;
}
.footer-user-nav,
.footer-site-nav,
.social {
  list-style: none;
  padding-left: 0;
}
.footer-user-nav__link,
.footer-site-nav__link {
  color: white;
}
.social__link:active {
  opacity: 0.1;
}
/*Служебные классы*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
